.stack-category {
  margin-bottom: 2rem;
}

.stack-category h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 0.5rem;
}

.tech-icon {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  object-fit: contain;
  background-color: #fff;
  padding: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.tech-icon:hover {
  transform: scale(2);
  z-index: 20;
}

.aws-hover-wrapper {
  position: relative;
  display: inline-block;
}

.aws-split-icons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
  transition: all 0.3s ease;
}

.aws-hover-wrapper:hover .aws-main {
  opacity: 0;
}

.aws-hover-wrapper:hover .aws-split-icons {
  opacity: 1;
  transform: scale(1.2) translateX(60px);
  pointer-events: auto;
}
