.stack-category {
  margin-bottom: 2rem;
}

.stack-category h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 0.5rem;
}

.tech-icon {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  object-fit: contain;
  background-color: #fff;
  padding: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.tech-icon:hover {
  transform: scale(2);
  z-index: 20;
}

.split-hover-wrapper {
  position: relative;
  display: inline-block;
}

.split-icons-row {
  display: none;
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: max-content;
  z-index: 10;
  background: #fff;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  flex-wrap: nowrap;
  gap: 10px;
}

.split-hover-wrapper:hover .split-icons-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.split-main {
  z-index: 5;
  transition: transform 0.3s ease;
}

.split-main:hover {
  transform: scale(1.6);
}

.split-icons-row .tech-icon {
  transform: scale(1);
  width: 40px;
  height: 40px;
}

.split-icons-row .tech-icon:hover {
  transform: scale(1.4);
}
